<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImageCreate.Rul.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="TIF_TifMerge__disabled" value="True" />
        <add key="PDF_OCR_A__disabled" value="False" />
        <add key="PDF_OCR_SR__disabled" value="True" />
        <add key="PDF_dcpdf__disabled" value="True" />
        <add key="TIF_PreserveCompression__disabled" value="True" />
        <add key="PDF_ImageOnly__disabled" value="True" />
        <add key="PDF_A1A__disabled" value="True" />
        <add key="PDF_A1B__disabled" value="True" />
        <add key="PDF_Title" value="" />
        <add key="PDF_Author" value="" />
        <add key="PDF_Subject" value="" />
        <add key="PDF_Keywords" value="" />
        <add key="PDF_Producer" value="" />
        <add key="Common_OriginalImage__disabled" value="False" />
        <add key="Common_SelectedTypes__disabled" value="True" />
        <add key="Common_IncludedPageTypes" value="" />
        <add key="Common_DeletionStatuses__disabled" value="True" />
        <add key="PDF_OCR_SR_Managed_DCOProcessor1" value="185" />
        <add key="PDF_OCR_SR_Managed_Engine1" value="180" />
        <add key="PDF_OCR_SR_Managed_DCOProcessor2" value="605" />
        <add key="PDF_OCR_SR_Managed_Engine2" value="600" />
    </appSettings>
    <applicationSettings>
        <ImageCreate.Rul.Properties.Settings>
            <setting name="TIF_TifMerge__disabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PDF_OCR_A__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDF_OCR_SR__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDF_dcpdf__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TIF_PreserveCompression__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDF_ImageOnly__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDF_A1A__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDF_A1B__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PDF_Title" serializeAs="String">
                <value/>
            </setting>
            <setting name="PDF_Author" serializeAs="String">
                <value/>
            </setting>
            <setting name="PDF_Subject" serializeAs="String">
                <value/>
            </setting>
            <setting name="PDF_Keywords" serializeAs="String">
                <value/>
            </setting>
            <setting name="PDF_Producer" serializeAs="String">
                <value/>
            </setting>
            <setting name="Common_OriginalImage__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Common_SelectedTypes__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Common_IncludedPageTypes" serializeAs="String">
                <value/>
            </setting>
            <setting name="Common_DeletionStatuses__disabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Common_ExcludedDocumentStatuses" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Common_ExcludedPageStatuses" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="PDF_OCR_SR_Managed_DCOProcessor1" serializeAs="String">
                <value>185</value>
            </setting>
            <setting name="PDF_OCR_SR_Managed_DCOProcessor2" serializeAs="String">
                <value>605</value>
            </setting>
            <setting name="PDF_OCR_SR_Managed_Engine1" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="PDF_OCR_SR_Managed_Engine2" serializeAs="String">
                <value>600</value>
            </setting>
        </ImageCreate.Rul.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
