<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExportToCSV.Rul.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="TypesField" value="IsRescan,Name,Contact_No,ID_No,Staff_Name,Date,Br_Code,TIN_No,Staff_Phone_No,Officer_Name_Code,Checker,Recording_Start_Time,Ext_No,Request_For_Invest,Use_of_Deposit_Info,Direct_Marketing_Opt_In,Request_For_Invest_OMR1,Request_For_Invest_OMR2,Request_For_Invest_OMR3" />
        <add key="chkFieldEnabled.IsRescan" value="True" />
        <add key="cbExportThisField.IsRescan" value="True" />
        <add key="gridFieldValues.IsRescan.0.0" value="" />
        <add key="gridFieldValues.IsRescan.Rows" value="1" />
        <add key="gridFieldValues.IsRescan.Cols" value="1" />
        <add key="TypesDoc" value="UseOfInfoConsentForm" />
        <add key="chkDocEnabled.UseOfInfoConsentForm" value="True" />
        <add key="TypesPage" value="Other,Use of Info Page" />
        <add key="chkPageEnabled.Use of Info Page" value="True" />
        <add key="cbExportAllFields.Use of Info Page" value="False" />
        <add key="chkFieldEnabled.Name" value="True" />
        <add key="cbExportThisField.Name" value="True" />
        <add key="rbDirBatch.DBSPOC3" value="False" />
        <add key="TypesBatch" value="DBSPOC3" />
        <add key="rbDirAppService.DBSPOC3" value="False" />
        <add key="rbDirCustom.DBSPOC3" value="False" />
        <add key="tbExportDir.DBSPOC3" value="" />
        <add key="tbExportName.DBSPOC3" value="test" />
        <add key="tbExportExt.DBSPOC3" value="csv" />
        <add key="tbExportSeparator.DBSPOC3" value="," />
        <add key="tbIgnoreFieldStatus.DBSPOC3" value="" />
        <add key="gridFieldValues.Name.0.0" value="Name" />
        <add key="gridFieldValues.Name.1.0" value="" />
        <add key="gridFieldValues.Name.Rows" value="0" />
        <add key="gridFieldValues.Name.Cols" value="0" />
        <add key="chkFieldEnabled.Contact_No" value="True" />
        <add key="cbExportThisField.Contact_No" value="True" />
        <add key="chkFieldEnabled.ID_No" value="True" />
        <add key="cbExportThisField.ID_No" value="True" />
        <add key="chkFieldEnabled.Staff_Name" value="True" />
        <add key="cbExportThisField.Staff_Name" value="True" />
        <add key="chkFieldEnabled.Date" value="True" />
        <add key="cbExportThisField.Date" value="True" />
        <add key="chkFieldEnabled.Br_Code" value="True" />
        <add key="cbExportThisField.Br_Code" value="True" />
        <add key="chkFieldEnabled.TIN_No" value="True" />
        <add key="cbExportThisField.TIN_No" value="True" />
        <add key="chkFieldEnabled.Staff_Phone_No" value="False" />
        <add key="cbExportThisField.Staff_Phone_No" value="False" />
        <add key="chkFieldEnabled.Officer_Name_Code" value="True" />
        <add key="cbExportThisField.Officer_Name_Code" value="True" />
        <add key="chkFieldEnabled.Checker" value="True" />
        <add key="cbExportThisField.Checker" value="True" />
        <add key="chkFieldEnabled.Recording_Start_Time" value="True" />
        <add key="cbExportThisField.Recording_Start_Time" value="True" />
        <add key="chkFieldEnabled.Ext_No" value="True" />
        <add key="cbExportThisField.Ext_No" value="True" />
        <add key="chkFieldEnabled.Request_For_Invest" value="True" />
        <add key="cbExportThisField.Request_For_Invest" value="True" />
        <add key="chkFieldEnabled.Use_of_Deposit_Info" value="True" />
        <add key="cbExportThisField.Use_of_Deposit_Info" value="True" />
        <add key="chkFieldEnabled.Direct_Marketing_Opt_In" value="True" />
        <add key="cbExportThisField.Direct_Marketing_Opt_In" value="True" />
        <add key="chkPageEnabled.Other" value="False" />
        <add key="cbExportAllFields.Other" value="False" />
        <add key="chkFieldEnabled.Request_For_Invest_OMR1" value="False" />
        <add key="cbExportThisField.Request_For_Invest_OMR1" value="False" />
        <add key="chkFieldEnabled.Request_For_Invest_OMR2" value="False" />
        <add key="cbExportThisField.Request_For_Invest_OMR2" value="False" />
        <add key="chkFieldEnabled.Request_For_Invest_OMR3" value="False" />
        <add key="cbExportThisField.Request_For_Invest_OMR3" value="False" />
    </appSettings>
    <applicationSettings>
        <ExportToCSV.Rul.Properties.Settings>
            <setting name="RuleOpen" serializeAs="String">
                <value>B</value>
            </setting>
            <setting name="RuleClose" serializeAs="String">
                <value/>
            </setting>
            <setting name="RulesetName" serializeAs="String">
                <value>Sample E-Mail ruleset</value>
            </setting>
            <setting name="RuleName" serializeAs="String">
                <value>E-Mail</value>
            </setting>
        </ExportToCSV.Rul.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
